.suggestion-items {

}

.food-list {
    width: 60%;
    margin: 75px 20px 20px 20px;
    float: left;
}

.suggestion-items {
    // background: #e8e8e673;
    margin: 20px;
    width: 20%;
    border-left: 1px solid;
    padding-left: 2%;
}

.total-btn {
    position: absolute;
    bottom: 15%;
    right: 20%;
}

.special-instructions {
    width: 20%;
    border-right: 1px solid;
    padding-right: 2%;
    margin: 5px;
    // background: #e8e8e673;
}

.orders-container {
    display: flex;
}