.suggestion-items {

}

.food-list {
    width: 60%;
    margin: 5% 5% 5% 10%;
    float: left;
}

.suggestion-items {
    float: right;
    background: #fff9e773;
    margin: 20px;
}

.total-btn {
    position: absolute;
    bottom: 15%;
    right: 20%;
}